[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "*"
pyarrow = "~=11.0"
pre-commit = "*"
sceptre = ">=3.2.0"
sceptre-sam-handler = "*"
synapseclient = "~=2.7"
pandas = "<1.5"
moto = "~=4.1"
datacompy = "~=0.8"
docker = "~=6.1"
ecs_logging = "~=2.0"
# flask libraries required for moto_server
flask = "~=2.0"
flask-cors = "~=3.0"
