[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "*"
pyarrow = "~=11.0"
pre-commit = "*"
sceptre = ">=3.2.0"
sceptre-sam-handler = "*"
synapseclient = "~=2.7"
pandas = "*"
moto = "*"
